* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*MENU*/
.navbar-nav {
  align-items: flex-end !important;
}

.bg-light {
  background-color: transparent !important;
}

.logo {
  display: inline-block;
}

.logo img{
  width: 50px;
}

header {
  background-color: #fcf4f4;
  padding-top: 0.5em;
}

.menu {
  float: right;
}

.menu div {
  float: right;
}

.menu div button{
  background-color: #0c8d1f;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.3em 1.5em 0.3em 0.9em;
  border-radius: 0.2em;
}

.menu div button span {
  margin-left: 0.8em;
  vertical-align: text-bottom;
}

.menu ul {
  list-style: none;
  display: inline-block;
  float: right;
  margin-top: 1.2em;
}

.menu ul li {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.5em;
}

.navbar-toggler {
  float: right;
}

/*END MENU*/

/* SLIDESHOW  */
.slideshow-container {
  max-width: 1400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
  height: 280px;
}


.mySlides .text {
  font-family: 'Alex Brush', cursive;
  font-size: 2.5rem;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  /*transition: 0.6s ease;*/
  border-radius: 0 3px 3px 0;
}

a:not([href]):not([tabindex]) {
  color: white !important;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  /*top: 350px;*/
  bottom: 140px;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots {
  font-size: 6rem;
  padding: 8px 12px;
  position: absolute;
  top: 230px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  /* margin: 0 2px; */
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

/*
.active, .dot:hover {
  background-color: #0c8d1f;
}
*/

.active {
  background-color: #0c8d1f;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

/*END SLIDESHOW*/


/*Section*/

.arrow {
  animation: bounce 2s ease infinite;
}
/*
@keyframes bounce {
  50% {
    transform: translateY(-20%); }
  100% {
    transform: translateY(0%); } }
*/
section {
  margin: 2em 0;
}

.sponsors {
  margin: 2em 0;
  text-align: center;
}

.sponsors h1 {
  font-size: 2rem;
}

.croquis, .arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.croquis button {
  background-color: #0c8d1f;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.3em 1.5em;
  border-radius: 0.2em;
  margin-bottom: 1em;
}

.arrow i {
  font-size: 3rem;
}

.sponsors-icons {
  text-align: center;
}

.sponsors-icons img {
  width: 25%;
  height: 10%;
  margin: 0.6em;
}

/*FOOTER*/
footer {
  background-color: #888888;
  color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
}

footer  i {
  background-color: #fff;
  color: #888888;
  border-radius: 100%;
  padding: 3px;
  width: 20px;
  text-align: center;
}

footer .social-network {
  float: left !important;
}

footer .team {
  float: right !important;
}
/*FOOTER END*/

/*
// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .mySlides img {
    height: 350px;
  }

  .dots {
    top: 280px;
  }
}


/*
// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  header {
    padding-top: 2em;
  }

  .menu ul li {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 0.5em;
  } 

  .mySlides img {
    height: 500px;
  }

  .logo img {
    width: 150px;
  }
  
  .dots {
    top: 490px;
  }

  .text {
    bottom: 315px;
  }

  .mySlides .text {
    font-size: 3.2rem;
  }
}


/*
// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .logo img {
    width: 100px;
  }

  .dots {
    top: 675px;
  }

  .dot {
    height: 25px;
    width: 25px;
  }
  .mySlides img {
    height: 700px;
  }
}



@media (min-width: 1200px) {
  /*HEADER*/
  .mySlides img {
    height: 700px;
  }
  /*HEADER*/
}