* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*MENU*/
/*
.navbar-nav {
  align-items: flex-end !important;
}
.bg-light {
  background-color: transparent !important;
}
*/


.upper-nav {
  background-color: #000;
  color: #fff;
  border-top: 3px solid #0C963F;
  padding: 0.2em;
  font-size: 0.9rem;
}

.upper-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}

.upper-nav ul li {
  display: inline-block;
  text-decoration: none;
}

header nav{
  background-color: #fcf4f4;
}

header .mobile-menu {
}

.mobile-main-button {
  display: inline;
  /*
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  */
}

.mobile-main-button button {
  background-color: #0c8d1f;
  border: none;
  border-radius: 0.2em;
  color: #ffffff;
  cursor: pointer;
  float: right;
  font-size: 0.9rem;
  margin-right: 0.3em;
  margin-top: 0.5em;
  padding: 0 0.4em;
  /* margin-right: 0.8em; */
  /* width: 38%; */
  /* border-bottom: 1px solid green; */
}


.logo {
  display: inline-block;
}

.menu {
  float: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.menu div {
  float: right;
}

.menu div button{
  background-color: #0c8d1f;
  border: none;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.3em 1.5em 0.3em 0.9em;
  border-radius: 0.2em;
  cursor: pointer;
}

.menu-desktop {
  padding-top: 1em;
}

.menu-desktop a + p {
  color: grey;
  font-size: 0.8rem;
  text-align: center;
}

.menu div button span {
  margin-left: 0.8em;
  vertical-align: text-bottom;
}

.menu ul {
  list-style: none;
  display: inline-block;
  float: right;
  margin-top: 1.2em;
}

.menu ul li {
  color: #848688 !important;
  display: inline-block;
  font-size: 1rem;
  margin-left: 0.5em;
  cursor: pointer;
}

.menu ul li a {
  color: #848688;
  text-decoration: none;

}

.menu ul li:focus, .menu ul li:active{
  color: #848688;
}

.nav-item:hover{
  color: #000;
  font-weight: 500;
}
/*
.navbar-toggler {
  float: right;
}
*/

/*END MENU*/


/*Carousel*/
.carousel-item img {
  height: 260px;
}

.carousel-caption h3 {
  font-family: 'Petit Formal Script', cursive;
  font-weight: 700;
}

.sponsors {
  margin: 2em 0;
  text-align: center;
}

.sponsors h1 {
  font-size: 2rem;
}


.sponsors-icons {
  text-align: center;
}

.sponsors-icons img {
  width: 25%;
  height: 10%;
  margin: 0.6em;
}

/*Sobre la Feria*/

/*Porque ir*/
.why-div ul {
  list-style: none;
}

.why-div img {
  width: 25%;
  display: inline-block;
}

/*
.why-div span::after {
  content: " ";
  display: inline-block;
  width: 35%;
  height: 5px;
  background: green;
  margin-bottom: 10px;
  vertical-align: top;
}
*/

/*programa*/
.programa {
  background-color: #14375a;
}

.programa h2, .programa h3{
  color: #fff;
}

.calendar {
  margin: 0 3em;
}

.fecha-div {
  background-color: #fff;
}

.fecha-div h4{
  border-bottom: 1px solid #000;
  margin: 0;
}

.dias {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dia1, .dia2 {
  border-right: 1px solid #000;
}

.dia1, .dia2, .dia3  {
  width: 100%;
}

.dia1 p, .dia2 p, .dia3 p {
  margin: 0;
}


.dia1 p:last-child, .dia2 p:last-child, .dia3 p:last-child {
  font-size: 2rem;
}

.stands p {
  font-size: 2rem;
  color: #fff;
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }

/*FOOTER*/
footer {
  background-color: #888888;
  color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
  
  margin-top: 2em;
}

footer  i {
  background-color: #fff;
  color: #888888;
  border-radius: 100%;
  padding: 3px;
  width: 20px;
  text-align: center;
}

footer .social-network {
  float: left !important;
}

footer .team {
  float: right !important;
}
/*FOOTER END*/



/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .mobile-main-button button {
    font-size: 1rem;
    padding: 0.2em 0.8em;
  }
  .carousel-item img {
    height: 410px;
  }

  .dots {
    top: 280px;
  }
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

  /*
  .menu ul li {
    display: inline-block;
    margin-left: 0.5em;
  } 
*/
  .carousel-item img {
    height: 500px;
  }

  .sponsors-icons img {
    width: 20%; 
  }

}


/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .logo img {
    width: 100px;
  }
  .carousel-item img {
    height: 700px;
  }

  .sponsors-icons img {
    width: 15%;
    height: 10%;
    margin: 0.6em;
  }
}



@media (min-width: 1200px) {
  /*HEADER*/
  .carousel-item img {
    height: 700px;
  }
  /*HEADER*/
}

